Flask==0.10.1
Flask-AutoIndex==0.5
Flask-Silk==0.2
Jinja2==2.7.3
MarkupSafe==0.23
SQLAlchemy==0.7.10
Tempita==0.5.3dev
Twisted==14.0.0
Werkzeug==0.9.6
buildbot==0.8.9
buildbot-slave==0.8.9
cffi==0.8.6
cryptography==0.5.4
decorator==3.4.0
itsdangerous==0.24
pyOpenSSL==0.14
pycparser==2.10
pycrypto==2.6.1
python-dateutil==1.5
six==1.8.0
sqlalchemy-migrate==0.7.2
wsgiref==0.1.2
zope.interface==4.1.1
